<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="History webite based on Sir Alex Ferguson's career">
  <meta name="keywords" content="sir alex, alex ferguson, football">
  <link rel="stylesheet" href="assets/css/stylesheet.css">
  <title>Sir Alex Ferguson</title>
</head>

<body>
  <div class="nav-heading">
    <nav>
      <a href="index.html">Home</a>
      <a href="career.html">Career</a>
      <a href="awards.html">Awards</a>
      <a href="gallery.html">Gallery</a>
      <a href="contact-us.html">Contact</a>
      <div class="animation start-home"></div>
    </nav>
    <h1>Sir Alex Ferguson</h1>
  </div>

  <section>
    <div class="container">
      <div class="rightbox">
        <div class="rb-container">
          <ul class="rb">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                East Stirlingshire<br> 1974
              </div>
              <div class="item-title">
                <p>In June 1974, Ferguson was appointed manager of East Stirlingshire, at the comparatively young age of 32. It was a part-time job that paid £40 per week, and the club did not have a single goalkeeper at the time. He gained a
                  reputation as a disciplinarian, with club forward Bobby McCulley later saying he had "never been afraid of anyone before but Ferguson was a frightening bastard from the start."</p>
                <br>
                <p>
                  The following October, Ferguson was invited to manage St Mirren. While they were below East Stirlingshire in the league, they were a bigger club and although Ferguson felt a degree of loyalty towards East Stirlingshire, he decided
                  to join St Mirren after taking advice from Jock Stein.</p>
              </div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                St Mirren<br> 1974 - 1978
              </div>
              <div class="item-title">
                <p>Ferguson was manager of St Mirren from 1974 until 1978, producing a remarkable transformation of a team in the lower half of the old Second Division watched by crowds of just over 1,000, to First Division champions in 1977,
                  discovering talent like Billy Stark, Tony Fitzpatrick, Lex Richardson, Frank McGarvey, Bobby Reid and Peter Weir while playing superb attacking football. The average age of the league winning team was 19 and the captain,
                  Fitzpatrick, was 20.</p>
                <br>
                <p>
                  St Mirren have the distinction of being the only club ever to sack Ferguson. He claimed wrongful dismissal against the club at an industrial tribunal but lost and was given no leave to appeal. According to a Billy Adams Sunday
                  Herald article on 30 May 1999, the official version is that Ferguson was sacked for various breaches of contract including unauthorised payments to players.[36] He was counter-accused of intimidating behaviour towards his office
                  secretary because he wanted players to get some expenses tax free. He did not speak to her for six weeks, confiscated her keys and communicated only through a 17-year-old assistant. The tribunal concluded that Ferguson was
                  "particularly petty" and "immature". It was claimed during the tribunal by St Mirren chairman, Willie Todd, that Ferguson had "no managerial ability". </p>
                <br>
                <p>.
                  In 2008, The Guardian published an interview with Todd (then aged 87), who had sacked Ferguson many years earlier. Todd said that the fundamental reason for the dismissal was a breach of contract relating to Ferguson having agreed
                  to join Aberdeen. Ferguson told journalist Jim Rodger of the Daily Mirror that he had asked at least one member of the squad to go to Aberdeen with him. He told the St Mirren staff he was leaving. Todd expressed regret over what
                  happened but blamed Aberdeen for not approaching his club to discuss compensation.
                </p>
                <br>
                <p>
                  In 1977, Ferguson turned down the manager's job at Aberdeen. The role went to Billy McNeill, who returned to Celtic after only a year, leaving the role available for Ferguson once again. </p>
              </div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Aberdeen<br> 1978 - 1986
              </div>
              <div class="item-title">
                <h2>Late 1970s</h2>
                <p>
                  Ferguson joined Aberdeen as manager in June 1978, replacing Billy McNeill who had only managed the club for one season before he was offered the chance to manage Celtic. Although Aberdeen were one of Scotland's major clubs they had
                  won the league only once, in 1955 under Dave Halliday. The team had been playing well, however, and had not lost a league match since the previous December, having finished second in the league the previous season. Ferguson had now
                  been a manager for four years, but was still not much older than some of the players and had trouble winning the respect of some of the older ones such as Joe Harper. The season did not go especially well, with Aberdeen reaching the
                  semi-final of the Scottish Cup and the Scottish League Cup Final, but losing both matches and finishing fourth in the league. </p>
                <br>
                <p>
                  Aberdeen lost the 1979–80 Scottish League Cup Final, this time to Dundee United after a replay. Ferguson took the blame for the defeat, saying he should have made changes to the team for the replay.</p>
                <br>
                <h2>1980s and silverware</h2>
                <p>
                  Aberdeen had started the 1979–80 season poorly but their form improved dramatically in the new year and they won the Scottish league that season with a 5–0 win on the final day. It was the first time in 15 years that the league had
                  not been won by either Rangers or Celtic. Ferguson now felt that he had the respect of his players, later saying: "That was the achievement which united us. I finally had the players believing in me".</p>
                <br>
                <p>
                  He was still a strict disciplinarian, though, and his players nicknamed him "Furious Fergie". He fined one of his players, John Hewitt, for overtaking him on a public road, and kicked a tea urn at the players at half time after a
                  poor first half. He was dissatisfied with the atmosphere at Aberdeen matches, and deliberately created a "siege mentality" by accusing the Scottish media of being biased towards the Glasgow clubs, to motivate the team. The team
                  continued their success with a Scottish Cup win in 1982. Ferguson was offered the manager's job at Wolverhampton Wanderers but turned it down as he felt that Wolves were in trouble and his "ambitions at Aberdeen were not even half
                  fulfilled".</p>
              </div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp">
                Manchester United<br> 1986 - 2013
              </div>
              <div class="item-title">
                <h2>Appointment</h2>
                <p>
                  Ferguson was appointed manager at Old Trafford on 6 November 1986. He was initially worried that many of the players, such as Norman Whiteside, Paul McGrath and Bryan Robson were drinking too much and was "depressed" by their level
                  of fitness, but he managed to increase the players' discipline and United climbed up the table to finish the season in 11th place, having been 21st (second from bottom) when he took over.</p>
                <br>
                <p>
                  His first game in charge was a 2–0 defeat at Oxford United on 8 November, followed seven days later by a goalless draw at newly promoted Norwich City, and then his first win (1–0 at home to Queens Park Rangers) on 22 November.
                  Results steadily improved as the season went on, and by the time they recorded what would be their only away win of the league campaign at title challengers and deadly rivals Liverpool on Boxing Day, it was clear that United were on
                  the road to recovery. 1987 began on a high note with a 4–1 victory over Newcastle United and United gradually pulled together in the second half of the season, with relatively occasional defeats on the way, and finished 11th in the
                  final table. Ferguson's mother Elizabeth died of lung cancer, aged 64, three weeks after his appointment. Ferguson hired Archie Knox, his assistant at Aberdeen, in the same role at Manchester United in 1986.</p>
                <br>
                <p>
                  In the 1987–88 season, Ferguson made several major signings, including Steve Bruce, Viv Anderson, Brian McClair and Jim Leighton. The new players made a great contribution to a United team who finished in second place, nine points
                  behind Liverpool. Liverpool's points lead, however, had been in double digits for most of the season and while United had lost only five league games all season, they drew 12 games and there was clearly still some way to go before
                  United could be a match for their north western rivals.</p>
                <br>
                <h2>Retirement</h2>
                <p>
                  On 8 May 2013, Ferguson announced that he was to retire as manager at the end of the football season, but would remain at the club as a director and club ambassador. The Guardian announced it was the "end of an era", while UEFA
                  president Michel Platini said that Ferguson was "a true visionary".[198] Prime Minister of the United Kingdom David Cameron described Ferguson as a "remarkable man in British football". Former Manchester United players Paul Ince and
                  Bryan Robson agreed that Ferguson would be "a hard act to follow". Manchester United co-chairman Joel Glazer said, "His determination to succeed and dedication to the club have been truly remarkable."[201] Ferguson revealed that he
                  had in fact decided that he was going to retire back in December 2012 and that it had been very difficult not to reveal his plans. Ferguson's decision to retire saw United shares fall 5% on the New York Stock Exchange.</p>
                <br>
                <p>
                  On 9 May 2013, Manchester United announced Everton manager David Moyes would replace Ferguson as the club manager from 1 July, having signed a six-year contract.In Ferguson's final match in charge, Manchester United drew 5–5 at West
                  Bromwich Albion, a hat-trick from Romelu Lukaku, later a United player, denying Ferguson a final victory.</p>
                <br>
                <p>
                  Ferguson released his second autobiography in October 2013 called My Autobiography.
                  <br>
                  In January 2014, Ferguson was appointed as the UEFA Coaching Ambassador,and said it was "an honour and a privilege" to be given the role. In April 2014, it was announced that Ferguson would be taking up a "long-term teaching
                  position" at Harvard University, where he would be lecturing on a new course titled "The Business of Entertainment, Media and Sports". This came six months after he revealed his blueprint for success was included in the Harvard
                  Business Review in a series of interviews with Anita Elberse. His book, Leading: Learning from Life and My Years at Manchester United, was published in collaboration with billionaire venture capitalist, author and former journalist
                  Michael Moritz in August 2015.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>



  <footer>
    <ul class="social-network">
      <li>
        <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="visit our Facebook page (opens in a new page)"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="https://twitter.com" target="_blank" rel="noopener" aria-label="visit our Twitter page (opens in a new page)"><i class="fab fa-twitter-square"></i></a>
      </li>
      <li>
        <a href="https://youtube.com" target="_blank" rel="noopener" aria-label="visit our Youtube page (opens in a new page)"><i class="fab fa-youtube-square"></i></a>
      </li>
      <li>
        <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="visit our Instagram page (opens in a new page)"><i class="fab fa-instagram-square"></i></a>
      </li>
    </ul>
  </footer>

  <!--Font awesome script-->
  <script src="https://kit.fontawesome.com/2509113cbf.js" crossorigin="anonymous"></script>



</body>

</html>
