@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline;
}

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

/* Nav Bar */
.nav {
  height: 50px;
  width: 100%;
  background-color: #34495e;
  position: relative;
  z-index: 9999;
}

.active {
  background-color: #e74c3c;
  color: #fff;
  height: 50px;
}

.nav>.nav_header {
  display: inline;
  float: right;
}

.nav>.nav_header>.nav_title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav>.nav_btn {
  display: none;
}

.nav>.nav_links {
  display: inline;
  font-size: 18px;
}

.nav>.nav_links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav>.nav_links>a:hover {
  background-color: #e74c3c;
  height: 50px;
}

.nav>#nav_check {
  display: none;
}

#saf_centre {
  margin-top: 2.5%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 35%;
  border-radius: 25px;
  box-shadow: 0.3rem 0.3rem #e6e6e6;
}

#home_summary {
  font-size: 1rem;
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

#video {
  display: block;
  margin-top: 1.5%;
  margin-left: auto;
  margin-right: auto;
  height: 50rem;
  width: 80%;
  border-radius: 5px;
}

#video_title {
  text-align: center;
}

/* Home Page cards */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

.cards img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 25px;
  margin-bottom: 1.5%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 33%;
  border-radius: 25px;
}

.card_content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card_title {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card_text {
  flex: 1 1 auto;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

#quote_heading {
  margin-top: 1.5%;
  text-align: center;
  text-decoration: underline;
}

/* Timeline */
* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  width: 97%;
  margin: 0 auto;
  background-color: #34495e;
  margin-top: 1.5%;
  border-radius: 25px;
  padding-bottom: 1.5%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container_full {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #fff;
  border: 4px solid #e74c3c;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
  border-radius: 25px;
}

/* Place the container to the right */
.right {
  left: 50%;
  border-radius: 25px;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #fff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

#stat_table {
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

#stat_table th, td {
  padding-right: 5px;
}

/* gallery */
.container_photos {
  position: relative;
}

.collage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_photos:hover .collage {
  opacity: 0.3;
}

.container_photos:hover .middle {
  opacity: 1;
}

.text {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  opacity: 0.9;
  border-radius: 10px;
}

.row {
  margin-top: 1.5%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 15px;
}

.club_logo {
  width: 40%;
  height: 40%;
  margin: 0 auto;
  display: block;
}

.content h3, p {
  margin-top: 1.5%;
}

#contact_details {
  text-align: center;
}

.contact_element {
  display: inline-block;
  margin: 1%;
  padding: 3%;
  vertical-align: top;
}

.address_word_wrap {
  width: 14rem;
}

.word_wrap {
  word-wrap: break-word;
}

#contact_details i {
  font-size: 200%;
  color: #3a3a3a
}

/* footer*/
footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  overflow: auto;
  display: block;
}

.social_network {
  text-align: center;
}

.social_network li {
  display: inline;
}

.social_network i {
  font-size: 300%;
  margin: 1%;
  padding: 3%;
  color: #3a3a3a
}

/*contact us form*/
.contact_form {
  color: #fff;
  background-color: #34495e;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 1.5%;
}

.contact_form h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

.text_input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text_input:hover {
  border-color: #e74c3c;
}

#feedback {
  border-radius: 5px;
}

.submit_button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #e74c3c;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
}

.submit_button:hover {
  background-color: #fff;
  color: #e74c3c;
}

.form_layout {
  text-align: center;
}

.form_inline {
  display: inline-block;
  vertical-align: bottom;
}

.form_inline img {
  max-width: 500px;
  border-radius: 10px;
}

/*media queries*/
/*for larger to medium screen size fomr 1200px wide and down*/
@media screen and (max-width: 1200px) {
  .card {
    width: 33%;
  }
}

/*for medium screen sizes from 950px wide and down*/
@media screen and (max-width: 950px) {
  .card {
    width: 50%;
  }

  .column {
    flex: 33%;
    max-width: 33%;
  }

  #video {
    height: 40rem;
  }
}

/*for small screen sizes 800px and down*/
@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  #video {
    height: 35rem;
  }

  .map_location {
    width: 80%;
  }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 635px) {
  .nav>.nav_btn {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .nav>.nav_btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav_btn>label:hover, .nav #nav_check:checked~.nav_btn>label {
    background-color: #e74c3c;
  }

  .nav>.nav_btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #fff;
  }

  .nav>.nav_links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #34495e;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav_links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav_check:not(:checked)~.nav_links {
    height: 0px;
  }

  .nav>#nav_check:checked~.nav_links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }

  #video {
    height: 25rem;
  }

  .map_location {
    width: 80%;
  }
}
